# Python files and cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook artifacts
.ipynb_checkpoints/

# Virtual environments
.venv/
.env/

# Data files
*.npy
*.h5
*.pkl

# Logs
*.log

# Ignore JSON files
*.json

# System files
.DS_Store
Thumbs.db

# Ignore all .jpeg and .png files
*.jpeg
*.jpg
*.png
